
*.ytd
*.yft
*.gxt2
*.xml
*.ydr
*.rpf
*.ymap
*.ymt
*.ybn
*.ytyp
*.ymf
*.obn
*.ydd
*.woff2
*.woff
*.ttf
*.awc
*.bak
*.dds
server_data/resources/[roupas]/roupasmarcas/stream/jaquetajeans/jaquetajeans.rar
server_data/resources/[roupas]/roupasmarcas/stream/jaquetajeans/jaquetajeans.rar
*.rar
*.dll
