

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
	background-color: transparent !important;
}

#toast {
	visibility: hidden;
	border-radius: 25px;
	height: 35px;
	margin: auto;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
	position: fixed;
	z-index: 1;
	right: 20px;
	top: 30px;
	font-size: 15px;
	white-space: nowrap;
}

#toast #desc {
	color: #fff;
	padding: 7.5px;
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
	white-space: nowrap;
}

#toast.show {
	visibility: visible;
    -webkit-animation-name: zoomInRight;
    animation-name: zoomInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


#toast.disappear {
    visibility: visible;
    -webkit-animation-name: zoomOutRight;
    animation-name: zoomOutRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomInRight {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
   }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
   }
}
@keyframes zoomInRight {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
   }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
   }
}

@-webkit-keyframes zoomOutRight {
    40% {
      opacity: 1;
      -webkit-transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
      transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: scale(.1) translate3d(2000px, 0, 0);
      transform: scale(.1) translate3d(2000px, 0, 0);
      -webkit-transform-origin: right center;
      transform-origin: right center;
    }
  }
  
  @keyframes zoomOutRight {
    40% {
      opacity: 1;
      -webkit-transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
      transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: scale(.1) translate3d(2000px, 0, 0);
      transform: scale(.1) translate3d(2000px, 0, 0);
      -webkit-transform-origin: right center;
      transform-origin: right center;
    }
  } 

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

